.header {
  width: 100%;
  background-color: #f4f6f8;
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


p,
h1 {
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.favicon {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  margin-left: 5%
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
}